<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Beamin_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Beamin_Control.Properties.Settings>
            <setting name="deviceToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Member_No" serializeAs="String">
                <value />
            </setting>
            <setting name="Owner_No" serializeAs="String">
                <value />
            </setting>
            <setting name="X_Auth" serializeAs="String">
                <value />
            </setting>
            <setting name="X_Refresh" serializeAs="String">
                <value />
            </setting>
            <setting name="ETag" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="User_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="X_Channel" serializeAs="String">
                <value />
            </setting>
            <setting name="_deviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="_deviceMacAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="_deviceMotherBoardId" serializeAs="String">
                <value />
            </setting>
            <setting name="_deviceHddSerial" serializeAs="String">
                <value />
            </setting>
            <setting name="_os" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_Language" serializeAs="String">
                <value>Korean</value>
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
        </Beamin_Control.Properties.Settings>
    </userSettings>
</configuration>
